@mixin rounded($radius: 4px){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
@mixin overflow(){
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
header{
	background: #fff;
	h1{
		color: #333;
		font-weight: normal;
	}
	p{
		padding-bottom: 5px;
		border-bottom: 1px solid #dcdcdc;
		@include rounded();
	}
	.bg1{
		background: url(/src/images/cxrz5.png) no-repeat;
		width: 128px;
		height: 52px;
	}
	.bg2{
		background: url(/src/images/wmlogo.gif) no-repeat;
		width: 44px;
		height: 42px;
	}
}